@font-face{
  font-family: "Optialthea";
  font-style: normal;
  font-weight: 400;
  src: local("Optialthea"),
  url("./fonts/optialtheabold-two-webfont.woff") format("woff"),
  url("./fonts/optialtheabold-two-webfont.woff2") format("woff2");
}

@font-face{
  font-family: "Libraria";
  font-style: normal;
  font-weight: 400;
  src: local("Libraria"),
  url("./fonts/libraria-webfont.woff") format("woff"),
  url("./fonts/libraria-webfont.woff2") format("woff2");
}

@font-face{
  font-family: "Optibaskervilleregular";
  font-style: normal;
  font-weight: 400;
  src: local("Optibaskervilleregular"),
  url("./fonts/optibaskerville-webfont.woff") format("woff"),
  url("./fonts/optibaskerville-webfont.woff2") format("woff2");
}

@font-face{
  font-family: "Beclave";
  font-style: normal;
  font-weight: normal;
  src: local("Beclave"),
  url("./fonts/beclave_demo-webfont.woff") format("woff"),
  url("./fonts/beclave_demo-webfont.woff2") format("woff2");
}