
<script src="/assets/vendor.js"></script>
<script src="./assets/vue3.js"></script>
<script src="./assets/chart.js" ></script>
<script src="./assets/three.js"></script>
<script src="./assets/cannon.js"></script>
<script src="./assets/dice.js"></script>
<script src="/assets/main.js"></script>


