<div class="swiper-slide activated-by-key">
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span>RPG</span>
        <span>é</span>
        <span>incluir!</span>
      </h1>
      <div class="fade-up-text text-default">
        <ul>
          <li>2005 me mudei novamente, Pelotas</li>
          <li>Novo lugar, novos colegas e nada de RPG</li>
          <li>O desenhista de poucas palavras</li>
          <li>Os hobbies como ponte entre pessoas</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image-center-right">
    <div class="inkmask-container">
      <div class="inkmask-color-image inkmask-right" style="background-image: url('/assets/images/_slide_rpg_e_incluir_pb.png');"></div>
      <img src="/assets/images/_slide_rpg_e_incluir.png">
    </div>
  </div>
</div>