<div class="swiper-slide activated-by-key">
  
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span>Exemplo</span>
        <span>de</span>
        <span>rolagem</span>
      </h1>
      <div class="fade-up-text text-small">
        <p><i>"Você é <b>Kayla</b>, uma <b>patrulheira</b> do reino que acaba de voltar de uma aventura em terras distantes.</i></p>
        <p><i>No início do que seria seu último dia de viajem até o reino, já visivel ao fundo, você se depara com um <b>estranho em seu caminho</b>. O homem usa um tapa-olho e veste roupas de peles e couro.</i></p>
        <p><i>Ele ainda não viu você, parece distraído com um saco de moedas que ele brinca de jogar para cima enquanto assobia uma canção.</i></p>
        <p><i>Vendo melhor agora, você se lembra de ter visto o rosto dele nos cartazes de procurado."</i></p>
      </div>
    </div>

  </div>
  <div class="image-center-right">
    <div class="inkmask-container">
      <div class="inkmask-color-image inkmask-right" style="background-image: url('/assets/images/bgcastle_pb.png');"></div>
      <img src="/assets/images/bgcastle.png">
    </div>
  </div>

</div>