<div class="swiper-slide activated-by-key">
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title">
        <span>Jogo</span>
        <span>de</span>
        <span>interpretação?</span>
      </h1>
      <div class="fade-up-text">
          <ul>
            <li>Brincadeira de faz-de-conta</li>
            <li>Forma e estrutura definidas</li>
            <li>Histórias mais coerentes</li>
            <li>Infinitas possibilidades</li>
            <li>Trabalho conjunto</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="image-center-right">
    <div class="inkmask-container">
      <div class="inkmask-color-image grayscale inkmask-right" style="background-image: url('/assets/images/_slide_jogo_de_interpretacao_pb.png');"></div>
      <img src="/assets/images/_slide_jogo_de_interpretacao.png">
    </div>
  </div>
</div>