<div class="swiper-slide activated-by-key">
  <div class="cards-container">
    <div class="card card-1" data-four-card>
        <div class="frame">
          <div class="content">
              <div class="icon icon-player"></div>
          </div>
        </div>
        <div class="text-wrapper">
          <div class="text-container">
              <h1 class="fade-in-title">
                <span>Os</span>
                <span>Personagens</span>
                <span>dos</span>
                <span>Jogadores</span>
              </h1>
              <div class="fade-up-text">
                <ul>
                  <li>Cada jogo é composto de um ou mais jogadores.</li>
                  <li>Como jogador, você controlará um personagem, um dos protagonistas da narrativa.</li>
                  <li>O jogador, tem controle sobre as decisões, personalidade, motivações e objetivos do personagem.</li>
                </ul>
              </div>
          </div>              
        </div>
    </div>
    <div class="card card-2" data-four-card>
        <div class="frame">
          <div class="content">
              <div class="icon icon-gm"></div>
          </div>
        </div>
        <div class="text-wrapper">
          <div class="text-container">
              <h1 class="fade-in-title">
                <span>O</span>
                <span>Mestre</span>
                <span>de</span>
                <span>Jogo</span>
              </h1>
              <div class="fade-up-text">
                <ul>
                  <li>Cada jogo é composto de um único mestre.</li>
                  <li>Narrador: define o transcorrer das ações e apresenta os desafios.</li>
                  <li>Criador de Aventuras: É a engrenagem que torna o RPG infinitamente flexível.</li>
                  <li>Árbitro: Decide como aplicar as regras e resolver conflitos.</li>
                  <li>É importante ter um bom conhecimento sobre as regras do jogo.</li>
                </ul>
              </div>
          </div>              
        </div>
    </div>
    <div class="card card-3" data-four-card>
        <div class="frame">
          <div class="content">
              <div class="icon icon-adven"></div>
          </div>
        </div>
        <div class="text-wrapper">
          <div class="text-container">
              <h1 class="fade-in-title">
                <span>A</span>
                <span>Aventura</span>
              </h1>
              <div class="fade-up-text">
                <ul>
                  <li>A aventura é como um arco de história em uma série.</li>
                  <li>Tematica: Fantasia Medieval</li>
                  <li>Aventuras cheias de ação, combate, mistérios, magias, desafios e monstros.</li>
                  <li>Prontas para jogar ou Artesanais</li>
                  <li>Uma Campanha, muitas aventuras.</li>
                </ul>
              </div>
          </div>              
        </div>
    </div>
    <div class="card card-4" data-four-card>
        <div class="frame">
          <div class="content">
              <div class="icon icon-book"></div>
          </div>
        </div>
        <div class="text-wrapper">
          <div class="text-container">
              <h1 class="fade-in-title">
                <span>Livros</span>
                <span>e</span>
                <span>Acessórios</span>
                <span>de</span>
                <span>Jogo</span>
              </h1>
              <div class="fade-up-text">
                <ul>
                  <li>Livro do Jogador, do Mestre e dos Monstros</li>
                  <li>Dados de jogo: O conjunto dos 6 poliédros<sup>*</sup></li>
                  <li>Ficha de Personagem.</li>
                  <li>Opicionais: Miniaturas, Matriz e Masmorras Montáveis</li>
                </ul>
              </div>
          </div>              
        </div>
    </div>
  </div>
</div>