<div class="swiper-slide activated-by-key">
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title">
        <span>Meu</span>
        <span>personagem</span>
        <span>vai</span>
        <span>ser</span>
        <span>poderoso?</span>
      </h1>
      <div class="fade-up-text">
          <ul>
            <li>O personagem evolui e aprende</li>
            <li>Novos recursos</li>
            <li>Novas habilidades</li>
            <li>Mais experiências = Mais níveis</li>
            <li>Alinhamento com o mestre</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="image-center-right">
    <div class="inkmask-container">
      <div class="inkmask-color-image grayscale inkmask-right" style="background-image: url('/assets/images/_slide_meu_personagem_vai_ser_poderoso_pb.png');"></div>
      <img src="/assets/images/_slide_meu_personagem_vai_ser_poderoso.png">
    </div>
  </div>
</div>