<div class="swiper-slide activated-by-key">
  <div class="content content-right">
    <div class="fade-container">
      <h1 class="fade-in-title">
        <span>E</span>
        <span>como</span>
        <span>meu</span>
        <span>personagem</span>
        <span>vence</span>
        <span>o</span>
        <span>jogo?</span>
      </h1>
      <div class="fade-up-text">
          <ul>
            <li>Objetivo principal: divirta-se!</li>
            <li>Aventuras acabam, mas a Campanha pode continuar</li>
            <li>A história sempre estará lá</li>
            <li>As memórias são conjuntas</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="image-center-left">
    <div class="inkmask-container">
      <div class="inkmask-color-image grayscale inkmask-bottomleft" style="background-image: url('/assets/images/_slide_e_como_vence_o_jogo_pb.png');"></div>
      <img src="/assets/images/_slide_e_como_vence_o_jogo.png">
    </div>
  </div>
</div>