<div class="swiper-slide activated-by-key">
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span>As</span>
        <span>8</span>
        <span>coisas</span>
        <span>que</span>
        <span>aprendi</span>
      </h1>
    </div>
  </div>
  <div class="image-center-right">
    <div class="inkmask-container">
      <div class="inkmask-color-image inkmask-right" style="background-image: url('/assets/images/_slide_as_coisas_que_aprendi_pb.png');"></div>
      <img src="/assets/images/_slide_as_coisas_que_aprendi.png">
    </div>
  </div>
</div>