<div class="swiper-slide activated-by-key">
  <div class="content content-right">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span><b>O</b></span>
        <span><b>primeiro</b></span>
        <span>de</span>
        <span>seu</span>
        <span>nome!</span>
      </h1>
      <div class="fade-up-text text-default">
        <ul>
          <li>Don Kaye e Gary Gygax, Tactical Studies Rules - TSR</li>
          <li>Dave Arneson e Gary Gygax, <b>The Fantasy Game</b></li>
          <li>Briam Blume, investidor, TSR Hobbies</li>
          <li>O primeiro RPG do mundo, <b>Dungeons & Dragons</b>, 1974</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image-center-left">
    <div class="inkmask-container">
      <div class="inkmask-color-image inkmask-bottomleft" style="background-image: url('/assets/images/_slide_o_primeiro_de_seu_nome_pb.png');"></div>
      <img src="/assets/images/_slide_o_primeiro_de_seu_nome.png">
    </div>
  </div>
</div>