<div class="swiper-slide activated-by-key">
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title">
        <span>E</span>
        <span>como</span>
        <span>é</span>
        <span>essa</span>
        <span>aventura</span>
        <span>de</span>
        <span>D&D?</span>
      </h1>
      <div class="fade-up-text">
          <ul>
            <li>A aventura é o coração de D&D.</li>
            <li>Início: "onde estou e quem é você?"</li>
            <li>Meio: Masmorras, Florestas, Enigmas, Tesouros, monstros fantásticos...</li>
            <li>Final: Qualquer coisa é possível, até mudar o final oficial.</li>
          </ul>
      </div>
    </div>
  </div>

  <div class="image-center-right">
    <div class="inkmask-container">
      <div class="inkmask-color-image grayscale inkmask-right" style="background-image: url('/assets/images/_slide_como_e_essa_aventura_pb.png');"></div>
      <img src="/assets/images/_slide_como_e_essa_aventura.png">
    </div>
  </div>
</div>