<div class="swiper-slide activated-by-key">
  <div class="content content-right">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span>Espero</span>
        <span>que</span>
        <span>tenham</span>
        <span>gostado!</span>
      </h1>
      <div class="fade-up-text text-default">
        <ul>
          <li>Eleventy for static site generation</li>
          <li>Nunjucks which is the default templating engine for Eleventy</li>
          <li>Sass for writing CSS</li>
          <li>TailwindCSS for atomic classes in HTML</li>
          <li>Webpack for compiling the Sass and JavaScript assets</li>
          <li>Three.js for the Fog and Dice animations</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image-center-left">

  </div>
</div>