<div class="swiper-slide activated-by-key">
  <div class="content content-right">
    <div class="fade-container">
      <h1 class="fade-in-title">
        <span>Mas</span>
        <span>e</span>
        <span>se</span>
        <span>o</span>
        <span>personagem</span>
        <span>morrer?</span>
      </h1>
      <div class="fade-up-text">
          <ul>
            <li>O risco existe...</li>
            <li>E soluções também!</li>
            <li>Ninguém "perde" o jogo.</li>
            <li>Ajudou com uma grande história</li>
            <li>"Para sempre lembraremos..."</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="image-center-left">
    <div class="inkmask-container">
      <div class="inkmask-color-image grayscale inkmask-bottomleft" style="background-image: url('/assets/images/_slide_mas_e_se_ele_morrer_pb.png');"></div>
      <img src="/assets/images/_slide_mas_e_se_ele_morrer.png">
    </div>
  </div>
</div>