<div class="swiper-slide activated-by-key">
  <div class="content content-right">
    <div class="fade-container">
      <h1 class="fade-in-title">
        <span>O</span>
        <span>que</span>
        <span>meu</span>
        <span>personagem</span>
        <span>vai</span>
        <span>fazer?</span>
      </h1>
      <div class="fade-up-text">
          <ul>
            <li>O limite do RPG é a sua imaginação</li>
            <li>Liberdade nas decisões</li>
            <li>Confiar? Atacar? Negociar? Você escolhe!</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="image-center-left">
    <div class="inkmask-container">
      <div class="inkmask-color-image grayscale inkmask-bottomleft" style="background-image: url('/assets/images/_slide_o_que_meu_personagem_faz_pb.png');"></div>
      <img src="/assets/images/_slide_o_que_meu_personagem_faz.png">
    </div>
  </div>
</div>