<div class="swiper-slide activated-by-key">
  <div class="content content-right">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span>A</span>
        <span>infame</span>
        <span>ficha</span>
        <span>de</span>
        <span>personagem</span>
      </h1>
      <div class="fade-up-text text-default">
          <ul>
            <li>"É pra completar tudo isso?!"</li>
            <li>Você não estará sozinho.</li>
            <li>Não existe "ficha perfeita".</li>
            <li>"Tem opções demais. Não sei o que escolher."</li>
            <li>"Desenhar? Serve boneco de palito?"</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="image-center-left">
    <div class="inkmask-container">
      <div class="inkmask-color-image inkmask-bottomleft" style="background-image: url('/assets/images/_slide_ficha_pb.png');"></div>
      <img src="/assets/images/_slide_ficha.png">
    </div>
  </div>
</div>