<div class="swiper-slide activated-by-key">
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span>RPGs eletrônicos</span>
      </h1>
      <div class="text-default">
        <ul>
          <li data-goto-slide='0'>RPG de ação</li>
          <li data-goto-slide='1'>RPG tático</li>
          <li data-goto-slide='2'>RPG Monster-Tamer</li>
          <li data-goto-slide='3'>JRPG</li>
          <li data-goto-slide='4'>RPG de aventura/mundo aberto</li>
          <li data-goto-slide='5'>MMORPG</li>
          <li data-goto-slide='6'>Visual Novel</li>
          <li data-goto-slide='7'>Roguelike</li>
          <li data-goto-slide='8'>Soulslike</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image-center-right">
    <div class="swiper eletronicRPGsSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image-container">
            <img src="/assets/images/_slide_rpg_acao.webp">
            <p>RPG de ação: Horizon Forbidden West, The Legend of Zelda e Cyberpunk 2077</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-container">
            <img src="/assets/images/_slide_rpg_tatico.webp">
          </div>
          <p>RPG tático: Final Fantasy Tactics, Fire Emblem: Three Houses e Baldur's Gate III</p>
        </div>
        <div class="swiper-slide">
          <div class="image-container">
            <img src="/assets/images/_slide_rpg_monster_tamer.webp">
          </div>
          <p>RPG Monster-Tamer: Pokémon, Digimon e Monster Hunter Stories</p>
        </div>
        <div class="swiper-slide">
          <div class="image-container">
            <img src="/assets/images/_slide_jrpg.webp">
          </div>
          <p>JRPG: Persona 5, Nier Automata e Chrono Trigger</p>
        </div>
        <div class="swiper-slide">
          <div class="image-container">
            <img src="/assets/images/_slide_rpg_aventura.webp">
          </div>
          <p>RPG de aventura: Breath of the Wild, Skyrim e The Witcher 3</p>
        </div>
        <div class="swiper-slide">
          <div class="image-container">
            <img src="/assets/images/_slide_mmorpg.webp">
          </div>
          <p>MMORPG: Destiny 2, World of Warcraft e Final Fantasy XIV</p>
        </div>
        <div class="swiper-slide">
          <div class="image-container">
            <img src="/assets/images/_slide_visual_novel.webp">
          </div>
          <p>Visual Novel: Fate/Stay Night, Doki Doki Literature Club e Ace Attorney</p>
        </div>
        <div class="swiper-slide">
          <div class="image-container">
            <img src="/assets/images/_slide_roguelike.webp">
          </div>
          <p>Roguelike: Hades, Returnal e Darkest Dungeon</p>
        </div>
        <div class="swiper-slide">
          <div class="image-container">
            <img src="/assets/images/_slide_soulslike.webp">
          </div>
          <p>Soulslike: Dark Souls, Nioh e Code Vein</p>
        </div>
      </div>
    </div>
  </div>
</div>