<div class="swiper-slide activated-by-key">
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title">
        <span>Como</span>
        <span>se</span>
        <span>define</span>
        <span>o</span>
        <span>D&D</span>
      </h1>
      <div class="fade-up-text">
          <ul>
            <li>IMAGINE: um mundo mundo de guerreiros audazes, magos poderosos e monstros terríveis. Ruínas ancestrais, cavernas profundas e grandes vastidões selvagens.</li>
            <li>O que difere uma aventura de Dungeons & Dragons de todos os outros jogos ja vistos?</li>
          </ul>
      </div>
    </div>
  </div>
</div> 