<div class="swiper-slide activated-by-key">
  <div class="content content-top">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span>Onde</span>
        <span>entra</span>
        <span>o</span>
        <span>Mestre</span>
        <span>nisso</span>
        <span>tudo?</span>
      </h1>
      <div class="fade-up-text text-default">
          <ul>
            <li>Narrador e árbitro de partida</li>
            <li>O mestre se cria e se adapta</li>
            <li>RPG se torna infinitamente flexível</li>
            <li>história vibrante, empolgante e imprevisível</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="image-bottom-center">
    <div class="inkmask-container">
      <div class="inkmask-color-image grayscale inkmask-bottomcenter" style="background-image: url('/assets/images/_slide_onde_entra_o_mestre_pb.png');"></div>
      <img src="/assets/images/_slide_onde_entra_o_mestre.png">
    </div>
  </div>
</div>