<div class="swiper-slide activated-by-key">
  <div class="puppet-stage">
    <div class="puppet-show">
      <div class="puppet-character gary" data-puppet-gary>
        <div class="head gary"></div>
        <div class="body gary"></div>
      </div>
      <div class="puppet-character dave" data-puppet-dave>
        <div class="head dave"></div>
        <div class="body dave"></div>
      </div>
    </div>
  </div>
</div>

