<div class="swiper-slide activated-by-key">
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span>RPG</span>
        <span>é</span>
        <span>currículo!</span>
      </h1>
      <div class="fade-up-text text-default">
        <ul>
          <li>"erh... e também jogo RPG"</li>
          <li>Meu primeiro grupo dentro do trabalho</li>
          <li>Ser chefe não te dá XP</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image-center-right">
    <div class="inkmask-container">
      <div class="inkmask-color-image inkmask-right" style="background-image: url('/assets/images/_slide_rpg_e_curriculo_pb.png');"></div>
      <img src="/assets/images/_slide_rpg_e_curriculo.png">
    </div>
  </div>
</div>