<div class="swiper-slide activated-by-key">
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span><b>Missão</b></span>
        <span> - </span>
        <span>Entregue</span>
        <span>[<b>1</b>]</span>
        <span>Talk</span>
        <span>para</span>
        <span>DWS!</span>
        
      </h1>
      <div class="fade-up-text text-default">
        <ul>
          <li>"Posso falar algo sobre RPG..."</li>
          <li>Uma infinidade de temas, para muitas talks.</li>
          <li>Nem todos jogaram ou até mesmo sabem o que é.</li>
          <li>Como apresentar esse jogo estranho que eu tanto amo?</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image-center-right">
    <div class="inkmask-container">
      <div class="inkmask-color-image inkmask-right" style="background-image: url('/assets/images/_slide_o_desafio_pb.png');"></div>
      <img src="/assets/images/_slide_o_desafio.png">
    </div>
  </div>
</div>