<div class="swiper-slide activated-by-key">
  <div class="content content-right">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span>RPG</span>
        <span>é</span>
        <span>multidisciplinar!</span>
      </h1>
      <div class="fade-up-text text-default">
        <ul>
          <li>2010 eu resolvi que diria 'sim'</li>
          <li>Tenho TCC, G3PD, DA, DCE, mas eu quero é D&D!</li>
          <li>Ou é compromisso ou não vai rolar...</li>
          <li>E rolou!</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image-center-left">
    <div class="inkmask-container">
      <div class="inkmask-color-image inkmask-bottomleft" style="background-image: url('/assets/images/_slide_rpg_e_multidisciplinar_pb.png');"></div>
      <img src="/assets/images/_slide_rpg_e_multidisciplinar.png">
    </div>
  </div>
</div>