<div class="swiper-slide activated-by-key">
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span><b>R</b>ole</span>
        <span><b>P</b>laying</span>
        <span><b>G</b>ame!</span>
      </h1>
      <div class="fade-up-text text-default">
        <p><b>"Jogo de interpretação de papéis na tradução livre."</b></p>
        <p>Existem várias formas de RPG. A forma original, às vezes chamada de <b>Tabletop RPG, RPG 'de mesa'</b>, é o jogo em que os jogadores assumem papéis de personagens e criam narrativas colaborativamente.</p>
      </div>
    </div>
  </div>
  <div class="image-center-right">
    <div class="inkmask-container">
      <div class="inkmask-color-image inkmask-right" style="background-image: url('/assets/images/_slide_a_sigla2_pb.png');"></div>
      <img src="/assets/images/_slide_a_sigla2.png">
    </div>
  </div>
</div>
