<div class="swiper-slide">Slide 2

  <button data-throw-btn class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" v-on:click="throw_dice(['d12','d20'])">ROLL DICE!</button>
  <div class="flex-auto text-center flex justify-center items-center"> {% raw %}{{result}}{% endraw %} </div>

</div>