<div class="swiper-slide activated-by-key">
  <div class="content content-left">
    <div class="fade-container">
      <h1 class="fade-in-title">
        <span>Peraí.</span>
        <span>Qualquer</span>
        <span>coisa</span>
        <span>mesmo?</span>
      </h1>
      <div class="fade-up-text">
          <ul>
            <li>"Um dragão? Hmmm..."</li>
            <li>"Invadir um palácio?"</li>
            <li>Vá em frente e faça uma tentativa.</li>
            <li>Sucessos e fracassos espetaculares</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="image-center-right">
    <div class="inkmask-container">
      <div class="inkmask-color-image grayscale inkmask-right" style="background-image: url('/assets/images/_slide_perai_qualquer_coisa_mesmo_pb.png');"></div>
      <img src="/assets/images/_slide_perai_qualquer_coisa_mesmo.png">
    </div>
  </div>
</div>