<div class="swiper-slide activated-by-key">
  <div class="content content-right">
    <div class="fade-container">
      <h1 class="fade-in-title">
        <span>Como</span>
        <span>eu</span>
        <span>entro</span>
        <span>nesse</span>
        <span>jogo?</span>
      </h1>
      <div class="fade-up-text">
          <ul>
            <li>"Preciso me vestir de preto?"</li>
            <li>"Rituais de Magia? É um culto?"</li>
            <li>"Vou precisar comprar esses livros caros?"</li>
            <li>"Preciso ir na casa do fulano pra jogar?"</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="image-center-left">
    <div class="inkmask-container">
      <div class="inkmask-color-image grayscale inkmask-bottomleft" style="background-image: url('/assets/images/_slide_como_entro_no_jogo_pb.png');"></div>
      <img src="/assets/images/_slide_como_entro_no_jogo.png">
    </div>
  </div>
</div>