<div class="swiper-slide activated-by-key">
  <div class="content content-right">
    <div class="fade-container">
      <h1 class="fade-in-title title-default">
        <span>Ícone</span>
        <span>da</span>
        <span><b>Cultura</b></span>
        <span><b>Pop!</b></span>
        
      </h1>
      <div class="fade-up-text text-default">
        <ul>
          <li>No popular, passatempo típico de "<b>nerds</b>" e adolescentes</li>
          <li>No cinema, <b>E.T.</b> (quando Elliot aparece querendo ser o <b>Mestre</b>)</li>
          <li>Em breve nos cinemas, <b>Dungeons & Dragons: Honra entre Rebeldes</b>"</li>
          <li>Na TV, série animada <b>Caverna do Dragão</b> (<b>Dungeons & Dragons</b> no original)</li>
          <li>Em séries como <b>Stranger Things</b> e <b>The Big Bang Theory</b></li>
          <li>Vilões memoráveis como <b>Vecna</b> ou <b>Strahd Von Zarovich</b></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image-center-left">
    <div class="inkmask-container">
      <div class="inkmask-color-image inkmask-bottomleft" style="background-image: url('/assets/images/_slide_cultura_pop_pb.png');"></div>
      <img src="/assets/images/_slide_cultura_pop.png">
    </div>
  </div>
</div>